%h3 あなたの フォロワー 一覧です!!!!
%p followされている相手を書き出していく。つまり、Relation テーブルから、follow_id カラムから、自分のuser.idを探す。(テーブル名.where)配列,変数(@users)で取り出す。後に、空の配列を創る。(@userss = []) 先程取り出した配列(@users)を、ハッシュにする(@users.each do |user|) ハッシュにしたら、変数(配列で)にぶち込む！！！